.container {
    width: 700px;
    margin: 0 auto;
}

.rectangle {    
    width: 400px;
    height: 300px;
    background: royalblue;
    border-radius: 7px;
    margin-top: 20px;
}

.good {
    background: limegreen !important;
}

.important {
    background: firebrick;
}

.hide {
    display: none;
}

